.DS_Store
func.zip
ffmpeg.linux64
config.txt
watson.png
alexa_watson.png

pysolr*
requests*
watson_developer_cloud*
arrow*
dateutil
ics*
python_dateutil*
six*

boto3*
botocore*
concurrent
dateutil
docutils*
futures*
jmespath*
python_dateutil*
s3transfer*
six*
